{% assign first_char = paper.info | slice: 0 %}
<div class="paper">
  <p class="paper-head"><span class="paper-title">{% if paper.title_link %}<a href="{{ paper.title_link }}">{{ paper.title }}</a>{% else %}{{ paper.title }}{% endif %}</span>{% if paper.info %}{% if first_char != ',' %}&#32;{% endif %}{{ paper.info | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% endif %}</p>
  {% if paper.links %}<p class="paper-links">{% for l in paper.links %}<a href="{{ l[1] }}">{{ l[0] }}</a>{% unless forloop.last %} | {% endunless %}{% endfor %}</p>{% endif %}
  {% for n in paper.notes %}<p class="paper-note">{{ n | markdownify | remove: '<p>' | remove: '</p>' | strip }}</p>{% endfor %}
  {% if paper.abstract %}<details class="abstract"><summary>Abstract</summary><p>{{ paper.abstract }}</p></details>{% endif %}
</div>
